<div class="container" style='top: 70px; position: relative; margin-top:70px;'>
    <div class='row well'>

        <form role="form" id="post-form" action="/" method="post" class="col-md-8">
          <div class="form-group">
            <label for="label">Update Status: </label>
            	<textarea name="message" class="form-control" id="message" required placeholder="What's on your mind?" style="resize:none; height: 100px; width:960px;"></textarea>
            </div>
            <input type="hidden" name="access_token" value="">
            <input type="hidden" name="fbID" value="">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker'>
                    <input type='text' class="form-control" name="date_to_post" placeholder="Check Date and Time"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" required></span>
                    </span>
                </div>
            </div>
          <div class="button">
	          <button id="button" type="submit" style="color:white;" class="btn btn-default btn-facebook">Schedule Post</button>
	          <div id="post-now" type="submit" class="btn btn-default btn-facebook">Post Now!</div>
          </div>
        </form>
        <div class="fb-like" data-href="https://developers.facebook.com/apps/788020947916359/dashboard/" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"></div>
    </div>

</div>
</body>
</html>